<html>
    <head>
        <script src="{{websdkUrl}}"></script>
    </head>
    <body>
        <h1 id="pageTitle">{{title}} (h1 #pageTitle)</h1>
        {{{body}}}

        <ul>
            <li><a href="/">Frontpage</a></li>
            <li><a href="/foo.html">Foo</a></li>
            <li><a href="/bar.html">Bar</a></li>
        </ul>
        {{#if isLocalSiteMap }}
        <script src="/public/sitemap.js"></script>
        {{/if}}
    </body>
</html>